## Spark SQL DataFrame

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [6]:
df = spark.read.json('personas.json')

In [7]:
df.show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

In [8]:
df.printSchema()

root
 |-- edad: long (nullable = true)
 |-- nombre: string (nullable = true)

In [9]:
df.columns

['edad', 'nombre']

In [10]:
df.describe().show()

+-------+-----------------+
|summary|             edad|
+-------+-----------------+
|  count|                2|
|   mean|             22.0|
| stddev|4.242640687119285|
|    min|               19|
|    max|               25|
+-------+-----------------+

# Schema

In [12]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType

In [13]:
schema=[StructField('edad', IntegerType(), True), 
       StructField('nombre',  StringType(), True)]

In [15]:
schema_final=StructType(fields=schema)

In [18]:
df= spark.read.json('personas.json', schema=schema_final)

In [19]:
df.printSchema()

root
 |-- edad: integer (nullable = true)
 |-- nombre: string (nullable = true)

In [20]:
df.show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

# select

In [21]:
df['edad']

Column<b'edad'>

In [22]:
type(df['edad'])

pyspark.sql.column.Column

In [23]:
df.select('edad').show()

+----+
|edad|
+----+
|null|
|  25|
|  19|
+----+

In [24]:
type(df.select('edad'))

pyspark.sql.dataframe.DataFrame

In [29]:
df.head(2)[0]

Row(edad=None, nombre='Miguel')

In [30]:
df.select('edad','nombre').show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

# crear una columna nuev con withColumn()

In [35]:
df.withColumn('edad_nueva',df['edad']).show()

+----+------+----------+
|edad|nombre|edad_nueva|
+----+------+----------+
|null|Miguel|      null|
|  25|Carlos|        25|
|  19|  Juan|        19|
+----+------+----------+

In [36]:
df.withColumn('edad_nueva',df['edad']*2).show()

+----+------+----------+
|edad|nombre|edad_nueva|
+----+------+----------+
|null|Miguel|      null|
|  25|Carlos|        50|
|  19|  Juan|        38|
+----+------+----------+

# cambiar el nombre de la columna con withColumnRenamed()

In [37]:
df.withColumnRenamed('edad','edad_nueva').show()

+----------+------+
|edad_nueva|nombre|
+----------+------+
|      null|Miguel|
|        25|Carlos|
|        19|  Juan|
+----------+------+

# consulta SQL

In [38]:
df.createOrReplaceTempView('personas')

In [39]:
query=spark.sql('select * from personas')

In [40]:
query.show()

+----+------+
|edad|nombre|
+----+------+
|null|Miguel|
|  25|Carlos|
|  19|  Juan|
+----+------+

In [47]:
mayor_veinte = spark.sql('select * from personas where edad > 20').show()

+----+------+
|edad|nombre|
+----+------+
|  25|Carlos|
+----+------+