# Spark SQL Agrupaciones

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('agrupaciones').getOrCreate()

In [ ]:
df = spark.read.csv('ventas.csv', inferSchema=True, header=True)

In [11]:
df.show()

+-------+-------+------+
|Empresa|Persona|Ventas|
+-------+-------+------+
|   GOOG| Carlos|   200|
|   GOOG|   Juan|   120|
|   GOOG| Felipe|   340|
|   MSFT|   Tina|   600|
|   MSFT| Andrea|   124|
|   MSFT|  Carla|   243|
|     FB|   Sara|   870|
|     FB|Ignacio|   350|
|   APPL| Miguel|   250|
|   APPL|  Oscar|   130|
|   APPL|  Jorge|   750|
|   APPL|   Ivan|   350|
+-------+-------+------+

In [14]:
df.printSchema()

root
 |-- Empresa: string (nullable = true)
 |-- Persona: string (nullable = true)
 |-- Ventas: integer (nullable = true)

# groupBy()

In [16]:
df.groupBy('Empresa').sum().show()

+-------+-----------+
|Empresa|sum(Ventas)|
+-------+-----------+
|   APPL|       1480|
|   GOOG|        660|
|     FB|       1220|
|   MSFT|        967|
+-------+-----------+

# agg()

In [17]:
df.agg({'Ventas': 'max'}).show()

+-----------+
|max(Ventas)|
+-----------+
|        870|
+-----------+

# otras funciones

In [18]:
from pyspark.sql.functions import countDistinct, avg, stddev

In [19]:
df.select(countDistinct('Ventas')).show()

+----------------------+
|count(DISTINCT Ventas)|
+----------------------+
|                    11|
+----------------------+

In [20]:
df.select (avg('Ventas').alias('Media de Ventas')).show()

+-----------------+
|  Media de Ventas|
+-----------------+
|360.5833333333333|
+-----------------+

In [22]:
df.select (stddev('Ventas').alias( 'desviacion estandar de Ventas')).show()

+-----------------------------+
|desviacion estandar de Ventas|
+-----------------------------+
|           250.08742410799007|
+-----------------------------+

In [25]:
from pyspark.sql.functions import format_number

In [27]:
ventas_stddev=df.select(stddev('Ventas'))

In [28]:
ventas_stddev.show()

+-------------------+
|stddev_samp(Ventas)|
+-------------------+
| 250.08742410799007|
+-------------------+

In [31]:
ventas_stddev.select(format_number('stddev_samp(Ventas)',2).alias('Stdev de ventas')).show()

+---------------+
|Stdev de ventas|
+---------------+
|         250.09|
+---------------+

# orderBy()

In [33]:
df.orderBy('Ventas').show()

+-------+-------+------+
|Empresa|Persona|Ventas|
+-------+-------+------+
|   GOOG|   Juan|   120|
|   MSFT| Andrea|   124|
|   APPL|  Oscar|   130|
|   GOOG| Carlos|   200|
|   MSFT|  Carla|   243|
|   APPL| Miguel|   250|
|   GOOG| Felipe|   340|
|     FB|Ignacio|   350|
|   APPL|   Ivan|   350|
|   MSFT|   Tina|   600|
|   APPL|  Jorge|   750|
|     FB|   Sara|   870|
+-------+-------+------+

In [34]:
df.orderBy(df['Ventas'].desc()).show()

+-------+-------+------+
|Empresa|Persona|Ventas|
+-------+-------+------+
|     FB|   Sara|   870|
|   APPL|  Jorge|   750|
|   MSFT|   Tina|   600|
|     FB|Ignacio|   350|
|   APPL|   Ivan|   350|
|   GOOG| Felipe|   340|
|   APPL| Miguel|   250|
|   MSFT|  Carla|   243|
|   GOOG| Carlos|   200|
|   APPL|  Oscar|   130|
|   MSFT| Andrea|   124|
|   GOOG|   Juan|   120|
+-------+-------+------+