In [11]:
from pyspark.sql import SparkSession

In [12]:
spark=SparkSession.builder.appName('nulos').getOrCreate()

In [13]:
df=spark.read.csv('Null.csv', inferSchema=True, header=True)

In [14]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Nombre: string (nullable = true)
 |-- Ventas: integer (nullable = true)
 |-- Clientes: integer (nullable = true)

In [15]:
df.show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  null|       3|
|emp2|      |  null|    null|
|emp3|      |   345|    null|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

# para quitar cualquier null

In [16]:
df.na.drop().show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [17]:
df.na.drop(thresh=4).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [18]:
df.na.drop(how='any').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [19]:
df.na.drop(how='all').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  null|       3|
|emp2|      |  null|    null|
|emp3|      |   345|    null|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [20]:
df.na.drop(subset='Clientes').show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|  null|       3|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

# rellenar = fill()

In [21]:
df.na.fill(0).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|     0|       3|
|emp2|      |     0|       0|
|emp3|      |   345|       0|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [22]:
df.na.fill(0, subset=['Ventas']).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|     0|       3|
|emp2|      |     0|    null|
|emp3|      |   345|    null|
|emp4| Cindy|   456|       4|
+----+------+------+--------+

In [23]:
# para llenarlos con la media

In [27]:
from pyspark.sql.functions import mean

In [33]:
media = df.select(mean(df['Ventas'])).collect()

media

In [36]:
df.na.fill(media[0][0],['Ventas']).show()

+----+------+------+--------+
|  Id|Nombre|Ventas|Clientes|
+----+------+------+--------+
|emp1|  John|   400|       3|
|emp2|      |   400|    null|
|emp3|      |   345|    null|
|emp4| Cindy|   456|       4|
+----+------+------+--------+