In [53]:
from pyspark import SparkContext

In [54]:
sc = SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-2-4443dd5159b0>:1

In [55]:
lista = [1,2,3,4,5]

In [56]:
rdd= sc.parallelize(lista)

In [57]:
rdd.collect()

[1, 2, 3, 4, 5]

#Filter() filtra los elementos de un RDD

In [60]:
filtrado_rdd = rdd.filter(lambda x: x>1)

In [61]:
filtrado_rdd.collect()

[2, 3, 4, 5]

In [4]:
# map() aplica una funcion a los elementos de un RDD

In [62]:
def suma1(x):
    return(x+1)

In [63]:
filtrado_sumado_rdd = filtrado_rdd.map(suma1)

In [64]:
filtrado_sumado_rdd.collect()

[3, 4, 5, 6]

In [65]:
cuadrado_rdd = (filtrado_rdd
               .map(suma1)
               .map(lambda x: (x,x**2)))

In [66]:
cuadrado_rdd.collect()

[(3, 9), (4, 16), (5, 25), (6, 36)]

##FlatMap es igual que map () pero te convierte el resultado a una lista simple

In [67]:
cuadrado_rdd = (filtrado_rdd
                .map(suma1)
                .map(lambda x: (x,x**2)))

In [68]:
cuadrado_rdd.collect()

[(3, 9), (4, 16), (5, 25), (6, 36)]

In [3]:
##Sample (whithRemplacement, fraction, seed)

In [69]:
cuadrado_rdd.sample(False,1).collect()

[(3, 9), (4, 16), (5, 25), (6, 36)]

In [70]:
cuadrado_rdd.sample(True,1).collect()

[(3, 9), (3, 9), (5, 25), (6, 36), (6, 36)]

In [22]:
# transformacion Distinct() devuelve un nuevo RDD quitando el duplicados

In [71]:
lista =[1,1,2,2,3,3,4,4]

In [72]:
rdd = sc.parallelize(lista)

In [73]:
rdd.collect()

[1, 1, 2, 2, 3, 3, 4, 4]

In [74]:
rdd.distinct().collect()

[2, 4, 1, 3]

# groupBy () devuelve un rdd con datos agrupados en formato de clave y valor

In [75]:
agrupado_rdd = rdd.groupBy(lambda x: x>1)

In [76]:
agrupado_rdd.collect()

[(False, <pyspark.resultiterable.ResultIterable at 0x7f1852f472b0>),
 (True, <pyspark.resultiterable.ResultIterable at 0x7f1852f47898>)]

In [31]:
print ([(x,sorted(y)) for (x,y) in agrupado_rdd.collect()])

[(False, [1, 1]), (True, [2, 2, 3, 3, 4, 4])]

## transformaciones sobre dos RDD

In [77]:
rdda = sc.parallelize([1,2,3])

In [78]:
rddb =sc.parallelize([4,5,6])

In [79]:
rddu = rdda.union(rddb)

In [80]:
rddu.collect()

[1, 2, 3, 4, 5, 6]

## rdda.intersection(rddb)

In [81]:
rdda =sc.parallelize([1,2,3,4])

In [82]:
rddb = sc.parallelize([3,4,5,6])

In [83]:
rddi = rdda.intersection(rddb)

In [84]:
rddi.collect()

[4, 3]

In [44]:
# rdda.subtract(rddb) devuelve los datos de a menos los de b

In [45]:
rdds= rdda.subtract(rddb)

In [46]:
rdds.collect()

[1, 2]

In [85]:
rdds= rddb.subtract(rdda)

In [86]:
rdds.collect()

[5, 6]

## rdda.cartesian(rddb) producto cartesiano --- operacion costosa

In [87]:
rddc = rdda.cartesian(rddb)

In [88]:
rddc.collect()

[(1, 3),
 (1, 4),
 (2, 3),
 (2, 4),
 (1, 5),
 (1, 6),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (4, 3),
 (4, 4),
 (3, 5),
 (3, 6),
 (4, 5),
 (4, 6)]